[Unit]
Description=Rtun forwarding agent

[Service]
Type=simple
ExecStart=%h/bin/rtun -f %h/.rtun.yml
Restart=always

[Install]
WantedBy=default.target
