.DS_Store
.vscode
*.dSYM

core.*
*.core
*.o
a.out

__pycache__
*.pyc
*.pyo

*.ibc

.env
.vars.json

.vagrant
.terraform
terraform.tfstate
terraform.tfstate.backup

node_modules

.ccls-cache

*.tar
*.gz
*.xz
*.h5
