#!/bin/sh -eu

WG=wg+
ETH={{ ansible_default_ipv4.interface }}

SSH=22
VPN=51820
MOSH=60000:60010


do_clear() {
    iptables -P INPUT   ACCEPT
    iptables -P OUTPUT  ACCEPT
    iptables -P FORWARD ACCEPT

    for table in filter nat mangle raw; do
        iptables -t $table -F
        iptables -t $table -X
    done
}

do_set() {
    do_clear

    iptables -P INPUT   DROP
    iptables -P OUTPUT  ACCEPT
    iptables -P FORWARD ACCEPT #DROP

    # Loopback is open
    iptables -A INPUT  -j ACCEPT -i lo
    iptables -A OUTPUT -j ACCEPT -o lo

    # Accept known connections
    iptables -A INPUT   -j ACCEPT -m state --state ESTABLISHED,RELATED
    iptables -A FORWARD -j ACCEPT -m state --state ESTABLISHED,RELATED

    # Open ports
    iptables -A INPUT -j ACCEPT -p tcp -m tcp --dport $SSH  -i $ETH -m state --state NEW
    iptables -A INPUT -j ACCEPT -p udp -m udp --dport $MOSH -i $ETH -m state --state NEW
    iptables -A INPUT -j ACCEPT -p udp -m udp --dport $VPN  -i $ETH -m state --state NEW

    # Forward from WG to ETH
    iptables -A FORWARD -j ACCEPT -i $WG -o $ETH -m state --state NEW

    # NAT when going out
    iptables -t nat -A POSTROUTING -j MASQUERADE -o $ETH
}

do_$1
