user  nobody
group nobody

dev    tun
server {{ vpn_netaddr | ipaddr(0) }} {{ vpn_netaddr | ipaddr('netmask') }}
proto  udp
port   {{ vpn_port }}

fragment 1300
mssfix
client-to-client

ca         /srv/vpn/ca.crt
crl-verify /srv/vpn/crl.pem
cert       /srv/vpn/server.crt
key        /srv/vpn/server.key
dh         /srv/vpn/dh.pem

remote-cert-tls client
keepalive       10 120
auth            SHA256
tls-version-min 1.2
tls-auth        /srv/vpn/tls_auth.key
key-direction   0
topology        subnet
max-clients     10
duplicate-cn
persist-key
persist-tun
