# OpenVPN
openvpn_enable="YES"
openvpn_if=tun
openvpn_configfile="/srv/vpn/openvpn.conf"
openvpn_dir="/srv/vpn"

# NAT
firewall_enable="YES"
firewall_nat_enable="YES"
firewall_script="/etc/ipfw.rules"
gateway_enable="YES"
