* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 1rem;
  font-family: sans-serif;
  background-color: #fafafa;
  color: #111;
}

main {
  max-width: 38rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
}
