html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
  color: #333;
  font-size: 11pt;
  margin: 1em;
  line-height: 1.6;
}

h1 {
  font-size: 150%;
  font-weight: normal;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 100%;
  font-weight: normal;
}

h3 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: grid;
  grid: none / 60px 1fr;
  margin: 0;
  word-wrap: break-word;
}

li > .score {
  display: block;
  padding: 5px 10px 5px 0;
  text-align: right;
}

li > a {
  display: inline-block;
  padding: 5px 0 5px 5px;
  text-decoration: none;
  color: #222;
  transition: background-color 0.15s;
}

li > a:hover,
li > a:active {
  background-color: #eee;
}

li > a:visited {
  color: #999;
}

cite {
  font-style: normal;
}

.tags {
  display: inline-block;
  margin-left: 1ex;
  font-size: 0.75em;
  color: #999;
}

h2 {
  margin: 1em 0;
  position: relative;
}

h2 > time {
  display: inline-block;
  padding: 1px 10px 2px 10px;
  margin-left: 60px;
  border-radius: 5px 5px 0 0;
  background-color: #55c500;
  color: #fff;
}

h2 > time::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #55c500;
}

h3 {
  width: 120px;
  margin: 1ex auto;
  position: relative;
  text-align: center;
}

h3 > time {
  display: inline-block;
  padding: 0 6px;
  background-color: #fff;
  color: #55c500;
  font-style: italic;
}

h3 > time::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 50%;
  left: 0;
  right: 0;
  background-color: #55c500;
  z-index: -1;
}

@media screen and (min-width: 600px) {
  li {
    width: 80%;
    margin: 2px auto;
  }

  h1 {
    margin-left: calc(10% + 60px);
  }

  h2 > time {
    margin-left: calc(10% + 60px);
  }

  h3 {
    display: block;
    width: auto;
    margin: 0 0 -1.5rem 0;
    text-align: left;
  }

  h3 > time {
    color: #333;
    font-style: normal;
  }

  h3 > time::after {
    content: none;
  }
}
