[Unit]
Description=IPv4 firewall
Before=network.target

[Service]
Type=oneshot
ExecStart=/etc/ipv4_firewall.sh start
ExecStop=/etc/ipv4_firewall.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
