body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 11pt;
}

h1 {
  background-color: black;
  color: white;
  font-size: 30pt;
  margin: 0;
  padding: 2em 1em 1em 1em;
}

p {
  margin: 1em;
}
