[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"
requests = "*"
pytest-localserver = ">=0.3"
bottle = ">=0.10"


[packages]

requests = "*"


[requires]

python_version = "3.6"
