#!/bin/sh
set -eu

PIF={{ ansible_default_ipv4.interface }}

DHCPRECV=67
DNS=53
HTTP=80
HTTPS=443
NTP=123
SSH={{ ansible_port }}

iptables -P INPUT ACCEPT
iptables -P OUTPUT ACCEPT
iptables -P FORWARD ACCEPT

for chain in filter nat mangle raw security; do
    iptables -t $chain -F
    iptables -t $chain -X
done

case "$1" in
close) ;;
open)  exit 0
esac

iptables -A INPUT  -j ACCEPT -i lo
iptables -A OUTPUT -j ACCEPT -o lo

iptables -A INPUT  -j ACCEPT -m state --state ESTABLISHED,RELATED
iptables -A OUTPUT -j ACCEPT -m state --state ESTABLISHED,RELATED

# Allowed inbound packets
iptables -A INPUT -j ACCEPT -p icmp                         -i $PIF
iptables -A INPUT -j ACCEPT -p tcp -m tcp --dport $SSH      -i $PIF -m state --state NEW
iptables -A INPUT -j ACCEPT -p udp -m udp --dport $DHCPRECV -i $PIF -m state --state NEW

# Allowed outbound packets
iptables -A OUTPUT -j ACCEPT -p icmp                      -o $PIF
iptables -A OUTPUT -j ACCEPT -p tcp -m tcp --dport $DNS   -o $PIF -m state --state NEW
iptables -A OUTPUT -j ACCEPT -p udp -m udp --dport $DNS   -o $PIF -m state --state NEW
iptables -A OUTPUT -j ACCEPT -p tcp -m tcp --dport $HTTP  -o $PIF -m state --state NEW
iptables -A OUTPUT -j ACCEPT -p tcp -m tcp --dport $HTTPS -o $PIF -m state --state NEW
iptables -A OUTPUT -j ACCEPT -p udp -m udp --dport $NTP   -o $PIF -m state --state NEW

iptables -P INPUT DROP
iptables -P OUTPUT DROP
iptables -P FORWARD DROP
