AddressFamily inet
Port 22
VersionAddendum none
DebianBanner no

PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes

PermitUserEnvironment no

AllowUsers {{ main_user }}
