<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Main</title>
  </head>
  <body>
    <h1>Main</h1>
# for section in sections:
    <h2>{{ section.title }}</h2>
    <p>{{ section.body }}</p>
# endfor
  </body>
</html>
