AWS_ENDPOINT=http://localhost:9000
AWS_ACCESS_KEY_ID={{ minio_access_key }}
AWS_SECRET_ACCESS_KEY={{ minio_secret_key }}
AWS_S3_FORCE_PATH_STYLE=true

WALG_S3_PREFIX={{ walg_s3_prefix }}

PGHOST=/var/run/postgresql
PGPORT=5432
PGUSER=postgres
PGPASSWORD={{ postgres_password }}
