<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>

    <form method="post" action="/login">
      <input type="hidden" name="_csrf_token" value="<%= csrf_token %>">
      <label for="username">Username</label>
      <input type="text" name="username" value="">
      <input type="submit" value="Login">
    </form>
  </body>
</html>
