* filter

:INPUT   DROP
:OUTPUT  ACCEPT
:FORWARD DROP

# Use LOGDROP instead of DROP for logging dropped packets. The purpose is to
# see if what kind of packets should be accepted for k3s to work. To read log
# use `journalctl -b`.
-N LOGDROP
-A LOGDROP -j LOG --log-prefix "iptables: " --log-level 4 -m limit --limit 60/min
-A LOGDROP -j DROP

# Standard stateful firewall rules.
-A INPUT -j ACCEPT -i lo
-A INPUT -j ACCEPT -m state --state ESTABLISHED,RELATED
-A INPUT -j DROP   -m state --state INVALID

# Allowed inbound traffic.
#
# No need to open http/https ports here. K3s auto-configures open ports.
#
-A INPUT -j ACCEPT -i eth+ -p icmp
-A INPUT -j ACCEPT -i eth0 -p tcp --dport ssh        -m state --state NEW
-A INPUT -j ACCEPT -i eth1 -p tcp --dport kubernetes -m state --state NEW
-A INPUT -j ACCEPT -i cni0                           -m state --state NEW
-A INPUT -j LOGDROP

COMMIT
