#!/bin/sh

LOOP="lo*"
PIF="{{ ansible_default_ipv4.interface }}"

PING="icmptypes 8"
UNREACH="icmptypes 3"

ipfw -q flush
alias ADD="ipfw -q add"

#
# Basic rules
#

ADD 0100 allow all from any to any via $LOOP
ADD 0999 check-state

#
# Inbound rules
#

# Block attackers from accessing any port. table(22) is maintained by sshguard.
ADD 1000 deny all from "table(22)" to any in

# Drop spoofed packets.
ADD 1100 deny all from any to any not verrevpath in

# Allowed packets
ADD 2000 allow icmp from any to me $PING in via $PIF keep-state
ADD 2000 allow tcp  from any to me ssh   in via $PIF keep-state setup

#
# Outbound rules
#

ADD 3000 allow icmp from me to any $UNREACH out via $PIF
ADD 3000 allow icmp from me to any $PING    out via $PIF keep-state
ADD 3000 allow udp  from me to any domain   out via $PIF keep-state
ADD 3000 allow udp  from me to any ntp      out via $PIF keep-state
ADD 3000 allow tcp  from me to any http     out via $PIF keep-state setup
ADD 3000 allow tcp  from me to any https    out via $PIF keep-state setup

#
# Fallback rules
#

ADD 9000 unreach port log tcp from any to me via $PIF
ADD 9000 unreach port log udp from any to me via $PIF
ADD 9100 unreach host log all from any to me via $PIF
ADD 9999 deny         log all from any to any
